<footer class="footer">
    <p>This documentation was built using AsciiDoc and the Antora Default UI (with minor changes to the header and footer)</p>
    <p>AsciiDoc® is a trademark of the Eclipse Foundation, Inc.</p>
</footer>